/* layout */
:root {
    --vscode-editor-background: #1d2225;
    --vscode-editor-foreground: #d4d4d4;
}
html, html * {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
body, #content {
    overflow-y: hidden;
}
#content {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    height: 66px;
}
main {
    padding: 16px;
    overflow-y: auto;
    height: calc(100vh - 90px);
}
main > * {
    height: 100%;
}
footer {
    height: 24px;
    font-size: 13px;
    font-family: helvetica, sans-serif;
    color:white;
    background-color: #007acc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

/* main */
#editor-pane { display: block; }
#preview-pane { display: none; }
#preview:checked ~ #content #editor-pane { display: none; }
#preview:checked ~ #content #preview-pane { display: block; }

#preview-pane {
    font-size: 18px;
    line-height: 1.4;
    max-width: 50rem;
    margin: 0 auto;
}

#editor-pane {
    max-width: 65rem;
}


pre, code {
    white-space: pre-wrap;
    margin: 0;
}
.url .url {
    word-break: break-all;
}


/* elements */
body a {
    color: inherit;
    text-decoration: none;
}
body a:hover {
    color: inherit;
    text-decoration: underline;
}
h1 {
    margin-top: 0;
}

/* header */
header > .title-bar {
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .editor-bar {
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.editor-tab {
    font-size: 0.9em;
    place-self: stretch;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

/* toggles */
.p-right {
    position: absolute;
    right: 16px;
    display: flex;
    gap: 8px;
}
.hidden-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}
.toggles label {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: .9em;
}
.toggles label:hover {
    background: rgb(132 132 132 / 20%) !important;
}
#theme:checked ~ #content label[for="theme"],
#preview:checked ~ #content label[for="preview"] {
    background: rgb(132 132 132 / 34%);
}
.toggles [for="theme"] {
    margin-top: 1px;
}
.toggles [for="preview"] {
    padding-top: 1px;
    margin-left: 4px;
}
.toggles [for="preview"] svg {
    margin-top: 3px;
}


/* dirty */
.dirty-indicator {
    display: none;
}
.is-dirty .dirty-indicator {
    display: inline;
}

/* utils */
.icon-link {
    display: flex;
    align-self: center;
    gap: 0px;
    line-height: 1;
}
.icon-link svg {
    height: 13px;
}
.break-all {
    word-break: break-all;
}

/* theme (default dark) */
#content,
#content main,
.editor-tab {
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

#theme:checked ~ #content,
#theme:checked ~ #content main,
#theme:checked ~ #content .editor-tab {
    background: hsl(0deg 0% 99%);
    color: #161819;
}

#content .title-bar {background: #323233;}
#content .editor-bar {background: #252526;}
#theme:checked ~ #content .title-bar { background: #dddddd; }
#theme:checked ~ #content .editor-bar { background: #f3f3f3; }

/* syntax highlighting */
.language-md .important    { font-weight: bold; }

/* dark */
.language-md .title        { color: hsl(114deg 31% 68%); }
.language-md .punctuation  { color: hsl(180deg 36% 54%); }
.language-md .url          { color: hsl(180deg 36% 54%); }
.language-md .url .content { color: hsl(359deg 83% 71%); }
.language-md .url .url     { color: hsl(215deg 36% 61%); }
/* light */
#theme:checked ~ #content .language-md .title        {color: hsl(114deg 60% 30%);}
#theme:checked ~ #content .language-md .punctuation  {color: hsl(180deg 52% 32%);}
#theme:checked ~ #content .language-md .url          {color: hsl(180deg 36% 34%);}
#theme:checked ~ #content .language-md .url .content {color: hsl(359deg 80% 36%);}
#theme:checked ~ #content .language-md .url .url     {color: hsl(215deg 36% 45%);}

h1,h2,h3 { color: hsl(114deg 31% 68%); }
#theme:checked ~ #content h1,
#theme:checked ~ #content h2,
#theme:checked ~ #content h3 {
    color: hsl(114deg 31% 49%);
}

.line-num {color: #9d9d9d;}
#theme:checked ~ #content .line-num {color: #727272;}

.line-code:focus { background: #8080804f; }
#theme:checked ~ #content .line-code:focus { background: #b0b0b026; }


/* transitions */
@media (prefers-reduced-motion: no-preference) {
    #content,
    #content main,
    .language-md .title,
    .language-md .punctuation,
    .language-md .url,
    .language-md .url .content,
    .language-md .url .url,
    h1,h2,h3,
    .line-num,
    .line-code:focus {
        transition: color .3s ease, background .3s ease;
    }
}

/* font */
body {
    font-family: 'Helvetica Neue',
               'Arial Nova',
                Helvetica,
                Arial,
                sans-serif;
}
pre, pre * {
    font-family: "Fira Code", Consolas, 'Courier New', Courier, monospace;
}
/* latin */
@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    size-adjust: 92%;
    src: url(https://fonts.gstatic.com/s/firacode/v21/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Consolas';
    src: local(Consolas);
    size-adjust: 104%
}
@font-face {
    font-family: 'Courier New';
    src: local(Courier New);
    size-adjust: 106%
}

/* line nums */
.language-md > code {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}

.line-num {
    text-align: right;
    user-select: none;
}
.line-code {
    line-height: 1.4;
}

/* editable */
.line-code:focus {
    outline: none;
}


/* scrollbar */
main::-webkit-scrollbar {
    width: 1em;
}

main::-webkit-scrollbar-track {
    background-color: #a9a9a917;
    border-left: 1px solid #80808066;
}

main::-webkit-scrollbar-thumb {
    background-color: #a9a9a929;
}


/* responsive */
.d-md {
    display: none;
}
@media screen and (min-width: 600px) {
    .d-md {
        display: inline;
    }
    .d-sm {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    #preview:checked ~ #content main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
    #preview:checked ~ #content #editor-pane {
        display: block;
    }
}
