/* layout */
:root {
    --vscode-editor-background: #1e1e1e;
    --vscode-editor-foreground: #d4d4d4;
}
html, html * {
    box-sizing: border-box;
    font-family: "Fira Code", Consolas, 'Courier New', Courier, monospace;
}
html, body {
    padding: 0;
    margin: 0;
}
#content {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 16px;
}
/* main {
    height: calc(100vh - 74px);
} */
main > * {
    height: 100%;
}
footer {
    height: 24px;
    background-color: #007acc;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

/* main */
#container { display: none; }
#preview-pane { display: none; }
.editor #container { display: block; }
.preview #preview-pane { display: block; }

#preview-pane {
    padding: 16px;
    font-size: 18px;
    line-height: 1.4;
    overflow-y: auto;
}
#preview-contents {
    max-width: 50rem;
    margin: 0 auto;
}

/* theme */
#content {
    background: white;
    color: black;
}
#theme:checked ~ #content {
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}
pre > code {
    white-space: pre-wrap;
}

/* elements */
body a {
    color: inherit;
    text-decoration: none;
}
body a:hover {
    color: inherit;
    text-decoration: underline;
}

/* toggles */
.toggles {
    position: absolute;
    right: 16px;
}
.hidden-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}
.toggles label {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}
.toggles label:hover {
    background: rgb(132 132 132 / 20%);
}
.toggles :checked + label:hover {
    background: rgb(132 132 132 / 34%);
}


/* dirty */
.dirty-indicator {
    display: none;
}
.is-dirty .dirty-indicator {
    display: inline;
}

/* utils */
.icon-link {
    display: flex;
    align-self: center;
    gap: 6px;
    line-height: 0.9;
}

/* syntax highlighting */
.title {
    color: teal
}
