--- 
title: Kyle Mitofsky Homepage
description: Personal bio and some links to other places I exist on the interwebs
---
<!doctype html>
<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

        {# Theme color for browser chrome (chrome android) #}
        <meta name="theme-color" content="#4934eb">

        {% set css %}
        {% include "styles.css" %}
        {% endset %}

        {# Primary Meta Tags #}
        <title>{{title}}</title>
        <meta name="title" content="{{title}}">
        <meta name="description" content="{{description}}">
        <link rel="canonical" href="{{page.url}}">

        {# Open Graph / Facebook #}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{page.url}}">
        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="assets/thumbnail.png">

        {# Twitter #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@KyleMitBTV">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta name="twitter:image" content="assets/thumbnail.png">

        {# capture the CSS content as a Nunjucks variable #}
        {% set css %}{% include "styles.css" %}{% endset %}
        {# feed it through our cssmin filter to minify #}
        <style type="text/css">
            {{css | cssmin | safe}}
        </style>

    </head>

    <body class="{{title}}">

        <nav class="header"></nav>

        <main class="content">

            <section id="about">
                <h1>Kyle Mitofsky</h1>
                <div class="bio">
                    <img src="assets/profile.jpg" class="profile"/>
                    <h2 class="job-title">Full-Stack Web Developer</h2>
                    <p class="bio-text">
                        I’m passionate about the web, design, and sharing what I’ve learned with the community.
                    </p>
                </div>
            </section>
            <section id="social">
                <h3>Social</h3>
                <a href="https://stackoverflow.com/users/1366033" aria-label="Stack Overflow Profile">
                    {% include "stack-overflow.svg" %}
                </a>
                <a href="https://github.com/KyleMit" aria-label="Github Profile">
                    {% include "github.svg" %}
                </a>
                <a href="https://twitter.com/KyleMitBTV" aria-label="Twitter Profile">
                    {% include "twitter.svg" %}
                </a>
                <a href="https://www.linkedin.com/in/kylemit/" aria-label="LinkedIn Profile">
                    {% include "linkedin.svg" %}
                </a>
            </section>
        </main>

        <footer class="footer"></footer>
    </body>

</html>