/* page layout */
html, body {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

h1,h2,h3,h4 {
    font-family: 'Rubik', sans-serif;
}

.header {
    background: #3686d4;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-content {
    max-width: 40em;
    margin: 0 auto;
}

.header a {
    color: #edf6ff;
    font-size: 1.2em;
    padding: .5em;
}

main.content {
    max-width: 40rem;
    margin: 0 auto;
}

.footer {
    background: #383838;
    color: whitesmoke;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content {
    max-width: 40em;
    margin: 0 auto;
}

.footer a {
    color: #cde6ff;
    /* font-size:1.2em; */
    padding: .5em;
}

/* bio */

.page-title {
    font-size: 3em;
}


.bio {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 1em;
    grid-template-areas: "profile title"
                         "profile bio";
}

.profile   { grid-area: profile; }
.job-title { grid-area: title; }
.bio-text  { grid-area: bio; }

.profile {
    height: 100px;
    border-radius: 50%;
}

.job-title {
    margin: 0;
}

.bio-text {
    color: #535353;
    font-size: 1.2em;
}

/* navbar */
.logo {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: .5rem;
}

.logo svg {
    position: absolute;
}
.logo-keyboard svg {
    fill: white;
}
.logo-cat svg {
    margin-top: -5px;
    height: 45px;
}
.logo-keyboard svg {
    margin-top: 16px;
    height: 40px;
}

/* social */
ul.social-links {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#social a>svg {
    height: 60px;
}
.social-links svg {
    padding: 2em;
}
.social-links svg path {
    fill: #171717;
    transition: fill .4s ease;
}
.social-links a:hover svg {
    transform: scale(1.1);
    transition: transform .4s ease;
    filter: drop-shadow(1px 1px 3px grey);
}
.linkedin:hover path {
    fill: #0274b3;
}
.twitter:hover path {
    fill: #1d9deb;
}
.github:hover path {
    fill: #642683;
}
.stack-overflow:hover path.stacks {
    fill: #f48024;
}
.stack-overflow:hover path.overflow {
    fill: #bcbbbb;
}