/* =================== PAGE ========================*/
body {
    background-image: url("../Images/mochaGrunge.png");
    padding-top: 60px;
	z-index: -2;
	position: relative;
}
#Content {
    width: 640px;
    margin: 0 auto;
    background-image: url("../Images/witewall_3.png");
	z-index: 1;
}
section {
    margin: 20px;
    padding-top: 60px;
    margin-top: -60px;
}
#Contact {
	margin-bottom: 0px;
}
.justify {
    text-align: justify;
}
.hero {
    font-size: 3em;
}
.phone {
    font-weight: bold;
}
.job {
    font-weight: bold;
}
/* ================= MEDIA QUERIES ======================*/
/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 800px) {
    #Content {
        width: 80%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #Content {
        width: 90%;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    #Content {
        width: 100%;
    }
}
/* ================= BACKGROUND ======================*/
.backgroundGradient {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 137px;
	z-index: -1;
	background-repeat: repeat-y;
}
.leftGradient {
    left: 0px;
    background: url(../Images/bkg_gradient_left.png);
}
.rightGradient {
    right: 0px;
    background: url(../Images/bkg_gradient_right.png);
}
